.App {
  background-color: rgba(96, 214, 227, 0.05);
}

.App img {
  max-width: 400px;
  display: block;
  margin: 20px auto;
}

.App a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.App a:hover {
  color: black;
}

.App footer {
  font-size: 12px;
}
